<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="навички, вміння, скіли, україна, дослідження, здібності, статистика, аналітика" />
    <meta name="description" content='Маленьке дослідження, яке надасть відповідь на запитання: "Що ми, як українці, можемо разом?"'>
    <title>Що вміють українці?</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0.16/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0.16/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0.16/favicon-16x16.png">
<link rel="manifest" href="favicon_package_v0.16/site.webmanifest">
<link rel="mask-icon" href="favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/styles.css">
<meta property="og:url"           content="http://uskills.klymov.design" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Що вміють українці?" />
<meta property="og:description"   content='Це маленьке дослідження, яке надасть відповідь на запитання: "Що ми, як українці, можемо разом?"' />
<meta property="og:image"         content="http://uskills.klymov.design/img/og-img.jpg" />
    <script src="app.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" type="text/javascript"></script>
</head>

<body>
<div id="fb-root"></div>
<script async defer src="http://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="NAxcg0zy"></script>
    <div class="content">

        <div class="leftareaheader">
            <div id="myChartContainer">
                <canvas id="myChart1"></canvas>
            </div>
            <!-- <p class="small-description"><%= Date()%></p> -->
            <div class="chartwrapper">
                <div class="skillsCount">
                    <div class="skillCount">
                        <p class="skillCountlabel">Навичок</p>
                        <p class="skillCountValue" id="skillsCount">⏳</p>
                    </div>
                    <div class="skillCount">
                        <p class="skillCountlabel">Людей</p>
                        <p class="skillCountValue" id="usersCount">⏳</p>
                    </div>
                </div>


            </div>
            <div class="">
                <h1>Що вміють українці?</h1>
                <p class="bigleading">Цікаво ж, правда? Поділись своїми вміннями, щоб ми могли зібрати більше даних!</p>
                <a href="#skillsSubmit" class="focusButton scroll">Поділитися своїми здібностями</a>
                <img src="img/np_down_1137387_FFFFFF.svg" width="64px" alt="">
            </div>
        </div>


        <form action="/skills" method="POST" class="skillsSubmitForm" id="skillsSubmit">

            <div class="formSection formSection1" id="formSection1">
                <h2>А які у тебе суперсили?</h2>
                <div class="inputgroup"><label class='label' for="skillsInput">Мої навички<span
                            class="asterisk">*</span></label>
                    <textarea class="focusInput focusTextarea" name='skillsInput' id="skillsInput"
                        placeholder="варити каву, любити україну" required></textarea>
                    <p class="small-description">Вводь скільки завгодно, тільки розділяй комами!</p>
                </div>
                <div class="inputgroup"> <label class='label' for="usercity">Де ти живеш?<span
                            class="asterisk">*</span></label>
                    <input class="focusInput" name='usercity' id="usercity" type="text" placeholder="Київ" required>
                    <p class="small-description">Це нам треба для того, щоб мати можливість надати статистику за
                        навичками у містах</p>
                </div>
                <button type="button" class="focusButton" id="nextBtn">Надіслати та створити акаунт</button>
                <p class="small-description">Створи акаунт для того, щоб приймати участь у розіграші подарунків</p>
                <button type="button" class="focusButton sendSkills secondaryButton" id="justSendSkills">Просто
                    надіслати</button>
            </div>
            <div class="formSection formSection2" id="formSection2">
                <h2>Трішки про тебе</h2>
                <div class="inputgroup"><label class='label' for="username">Імʼя</label>
                    <input class="focusInput" name='username' id="username" type="text" placeholder="Тарас"></div>
                <div class="inputgroup"> <label class='label' for="usermail">Пошта</label>
                    <input class="focusInput" name='usermail' id="usermail" type="email"
                        placeholder="shevchenko@mail.ua">
                    <p class="small-description">Поділись своєю поштою, щоб ми могли створити твій акаунт та звʼязати
                        введені дані</p>
                </div>


                <button type="button" class="focusButton sendSkills" id="sendSkills">Надіслати</button>
            </div>
            <div class="formSection formSectionSuccess" id="formSectionSuccess">

                <h2>Дані надіслано</h2>
                <!-- <img src="img/celebrate.png" class="successImg" alt=""> -->
                <p class="bigleading textDark">Дякуємо за те, що ти поділився!</p>
                <p class="textDark">Через декий час ми запустимо розширену статистику та додамо кабінет користувача, де
                    ти зможеш відстежувати свої навички чи навички своїх друзів</p>
                <p>А зараз — допоможи нам зібрати більше даних та поділись посиланням на цей проект!</p>
                <div class="fb-share-button" data-href="http://uskills.klymov.design" data-layout="button" data-size="large"  id="fbshare"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fuskills.klymov.design%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <button type="button" class="focusButton" onclick="copytoclipboard()" id="copytoclipboardBtn">Скопіювати посилання</button>

                <button type="button" class="focusButton secondaryButton" id="backBtn">Назад</button>
            </div>


            <!-- <button type="button" class="focusButton" onclick="nextFormStep()">Далі</button> -->
            <!-- <img class="formIllistrration" src="img/formIllistrration.svg" alt=""> -->
        </form>
    </div>
    <div class="aboutContainer">
        <div class="about">
            <h2>Про що це?</h2>
            <p class="bigleading textdark">Це маленьке дослідження, яке надасть відповідь на запитання: "Що ми, як Українці, можемо разом?".</p>
            <p>Чи вміємо ми будувати дома? У яких містах краще вміють програмувати? Чи вміють зберігати спокій у
                Харкові? Де більше людей, які вміють малювати — у Дніпрі чи у Львові?
            </p>
            <p>Просто розкажи, що ти вмієш, та подивись що вміють інші!</p>
            <a href="#skillsSubmit" class="focusButton">Поділитися своїми здібностями</a>
            <h2>Що планується?</h2>
            <p>Далі я планую додати багато цікавих можливостей до цього сервісу:</p>
            <ul>
                <li class="features">Конкурси з подарунками за найцікавішу/найкориснішу навичку</li>
                <li class="features">Аналітика по містах</li>
                <li class="features">Персональний кабінет де можна редагувати свої навички да додавати більше інформації
                    про них</li>
                <li class="features">Створення груп та аналіз навичок групи — додай друзів та подивись, як багато ви
                    можете зробити разом</li>
                <li class="features">Можливість поділитися візуалізаціями у соцмережах</li>
            </ul>
            <h2> Партнери</h2>
            <p>А нема ще нікого 🤓. Думаю зв'язатись з кимось типу Семесюка та Підпільної Гуманітарки.</p>
            <p>Якщо ти можеш поширити інформацію про цей проект через свій канал на Ютубі або на сторінці у соцмережі —
                це дуже допоможе зібрати більше даних</p>
            <p>Просто <a href="http://www.facebook.com/junkiewind/">напиши мені</a> або <a
                    href="http://l.facebook.com/l.php?u=http%3A%2F%2Ffb.me%2Fukrainianskills&h=AT3htO1El8QGP9DkLApr9gxiXGZnepmzG4_SK_6BdUc1lq2jfut4PGaM-_3kdgO0u8E52Z8FcFPOV-RlrXbqzHQuLZZjcWpi70V4NqeuYDwfsT0qqQSIlC_sskiYm5IFQ19uszgSGYk">на
                    сторінку у Фейсбук</a> та вкажи де ти поділився інформацією про цей проект, а за це я розміщу
                посилання на твій ресурс тут.</p>
            <h2>Контакти</h2>
            <p>Якщо ти побачив якусь проблему чи просто хочеш поспілкуватись про цей проект — <a
                    href="http://www.facebook.com/junkiewind/">пиши мені на Фейсбуці.</a></p>
            <p>Для тих, кому цікаво долучитися до розробки — ось <a
                    href="http://github.com/junkiewind/ukrainianskills">посилання на Гітхаб.</a></p>
            <p class="small-description">На цей момент технологічно все дуже просто — Node.js, Python, Express.js, EJS
                та звичайний HTML/CSS/JS.</p>
            <h3>Соцмережі</h3>
            <p><a
                href="http://l.facebook.com/l.php?u=http%3A%2F%2Ffb.me%2Fukrainianskills&h=AT3htO1El8QGP9DkLApr9gxiXGZnepmzG4_SK_6BdUc1lq2jfut4PGaM-_3kdgO0u8E52Z8FcFPOV-RlrXbqzHQuLZZjcWpi70V4NqeuYDwfsT0qqQSIlC_sskiYm5IFQ19uszgSGYk">Сторінка
                на Facebook</a><br>
            <a href="http://m.me/ukrainianskills?fbclid=IwAR0lOYZnZ28tQ78tEiekUKTq5g4YGpG_0-F4edoGFKEjFwdnpjF1Vi0h7PM">
                Написати у Messenger</a></p>
            <h3>Донат</h3>
            <p>Якщо прям дуже сподобалась ідея — можеш трішечки задонатить на <a
                    href="http://send.monobank.ua/jar/6ZPQktwXjJ">банку у Моно.</a></p>
        </div>
    </div>



</body>
<footer>
    <p>2021 © <a href="http://www.facebook.com/junkiewind/">Олександр Климов</a></p>
    <p class="small-description">Photo by <a href="http://unsplash.com/@xokvictor?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Viktor Bystrov</a> on <a href="http://unsplash.com/s/photos/ukraine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
</footer>

</html>